Repository telemaco/oci-dev-binder-hook: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-sort, cargo-machete, cargo-deny, unit tests

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

cargo-machete:
  name: cargo machete
  description: Find unused dependencies in Cargo.toml
  entry: cargo machete
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny check
  description: Check dependencies for license/security issues
  entry: cargo deny check
  language: system
  pass_filenames: false

unit tests:
  stages:
  - pre-push
  name: unit tests
  language: system
  entry: cargo nextest run --workspace
  pass_filenames: false

feat: Initial project setup and CI
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  rustfmt.toml
  src/lib.rs
  src/main.rs
  tests/main.rs
Due: cargo-fmt, cargo-clippy, cargo-sort, cargo-machete, cargo-deny, unit tests

feat(changelog): Add git-cliff configuration file
  cliff.toml
Due: none

feat: Initial core logic for udev device binding
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  src/cli.rs
  src/lib.rs
  src/main.rs
  src/oci_spec.rs
  tests/main.rs
Due: cargo-fmt, cargo-clippy, cargo-sort, cargo-machete, cargo-deny, unit tests

feat(build): Add Meson build system support
  README.md
  data/meson.build
  data/oci-dev-binder-hook.json.in
  meson.build
  meson_options.txt
  src/meson.build
Due: none

build(meson): bump minimum version requirement to 0.62
  meson.build
Due: none

feat(udev): Bind devices based on annotations
  data/oci-dev-binder-hook.json.in
  src/cli.rs
  src/oci_spec.rs
Due: cargo-fmt, cargo-clippy, cargo-machete, cargo-deny, unit tests

refactor(oci_spec): Decouple from udev::Device to improve testability
  src/lib.rs
  src/oci_spec.rs
  src/udev.rs
Due: cargo-fmt, cargo-clippy, cargo-machete, cargo-deny, unit tests

docs(readme): Add usage instructions to the README
  README.md
Due: none

feat(rpm): Add initial RPM packaging
  Cargo.toml
  rpm/oci-dev-binder-hook.spec
Due: cargo-sort

build: Automate project versioning from Cargo.toml and Git
  meson.build
  tools/dist.sh
Due: none

feat(rpm): Add support for building SRPMs
  meson.build
  meson_options.txt
  rpm/meson.build
  rpm/oci-dev-binder-hook.spec.in
  tools/build-srpm.sh
Due: none

feat: Add option to disable udev required tests
  Cargo.toml
  meson_options.txt
  rpm/oci-dev-binder-hook.spec.in
  src/cli.rs
  src/meson.build
Due: cargo-fmt, cargo-clippy, cargo-sort, cargo-machete, cargo-deny, unit tests

feat: Add configuration for SRPM and Copr builds
  .packit.yaml
Due: none

ci(packit): Add development COPR build job
  .packit.yaml
Due: none

fix(packit): Add unique identifiers to copr_build jobs
  .packit.yaml
Due: none

fix(packit): Add release_suffix to copr_build_commit job
  .packit.yaml
Due: none

ci(packit): Disable release updates for dev builds
  .packit.yaml
Due: none

ci(packit): Add EPEL and aarch64 targets
  .packit.yaml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-sort: any of: Cargo\.toml
  cargo-machete: any of: \.rs$
  cargo-deny: any of: \.rs$
  unit tests: any of: \.rs$
